<!-- Include header -->
<%- include('include/_header') %>
<!-- /Include header -->

<section class="body_404">
    <div class="body_404_card">
        <h1 class="body_404_h1"><i class="fa-solid fa-hashtag"></i> This Page isn't avaliable yet</h1>
        <p class="body_404_p"><i class="fa-brands fa-slack"></i> If you want you can return to our homepage by <a href="/">clicking here</a></p>
        <p class="body_404_p"><i class="fa-solid fa-rotate-right"></i> This page is going to be avaliable soon </p><a href="/"></a>
    </div>
</section>

<!-- Include footer -->
<%- include('include/_footer') %>
<!-- /Include footer -->